<mat-card>
  <mat-card-content>
<!--    <h1>Un magnifique NFT rien que pour toi !</h1>-->
<!--    <p>-->
<!--      T'as toujours envié les traders de wallstreet ?!-->
<!--      Toi qui a toujours désiré comprendre les termes "gestion d'actifs" ou "cryptomonnaies".-->
<!--      Tu ne comprenais pas ce que viens faire un mineur dans cette histoire de bitcoin ?-->
<!--      Jusque là tu avais du mal à voir comment tout cela rapportera un jour de l'argent ?-->
<!--      Ne t'inquiète pas ! Avec ce bel NFT tu es paré à la spéculation et toutes les surprise qui se cache derrière !-->
<!--    </p>-->
<!--    <p>-->
<!--      Cliques donc sur le lien ci-dessous pour télécharger une image dont tu es l'unique propriétaire !-->
<!--      Les autres n'ont pas le droit de la télécharger sans ton accord !-->
<!--    </p>-->
<!--    <div>-->
<!--      <a mat-raised-button color="primary" href="/assets/giphy.gif" download="fucking_nft.gif">Récupérer mon NFT</a>-->
<!--    </div>-->
<!--    <img src="https://media.giphy.com/media/FerjqPHY2OGDPJPwEk/giphy.gif" alt="great">-->
    <h1>Cette page n'existe plus</h1>
    <p>Comment as tu fait pour arriver ici alors que j'ai retiré cette page ?</p>
  </mat-card-content>
</mat-card>
