<form (ngSubmit)="submit()" [formGroup]="registerForm">
  <div>
    <label for="pseudonyme">Pseudonyme</label>
    <input
      [ngClass]="{ 'invalid': submitted && registerForm.controls.pseudonyme.errors }"
      formControlName="pseudonyme"
      id="pseudonyme"
      placeholder="pseudonyme">
    <div *ngIf="submitted && registerForm.controls.pseudonyme.errors">
      <div *ngIf="registerForm.controls.pseudonyme.errors['required']">Ton pseudo est requis</div>
    </div>
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input
      [ngClass]="{ 'invalid': submitted && registerForm.controls.password.errors }"
      formControlName="password"
      id="password"
      placeholder="mot de passe"
      type="password">
    <div *ngIf="submitted && registerForm.controls.password.errors">
      <div *ngIf="registerForm.controls.password.errors['required']">Le mot de passe est requis</div>
    </div>
  </div>
  <div>
    <label for="confirmPassword">Confirmation du mot de passe</label>
    <input
      [ngClass]="{ 'invalid': submitted && registerForm.controls.confirmPassword.errors }"
      formControlName="confirmPassword"
      id="confirmPassword"
      placeholder="mot de passe"
      type="password">
    <div *ngIf="submitted && registerForm.controls.confirmPassword.errors">
      <div *ngIf="registerForm.controls.confirmPassword.errors['required']">Le mot de passe est requis</div>
      <div *ngIf="registerForm.controls.confirmPassword.errors['same']">Les mots de passe ne correspondent pas</div>
    </div>
  </div>

  <button type="submit">S'inscrire</button>
</form>
