<app-guest>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="text">
        <h1>Salut toi !</h1>
        <p>Si tu es nouveau ici, il va falloir te créer un compte.</p>
        <p>
          <button color="accent" mat-raised-button routerLink="/register">S'inscrire</button>
        </p>
        <p>Attention, il va falloir que tu te souviennes du nom de renne que tu as reçu sur la conversation
          messenger 😉</p>
        <p>Si tu es déjà inscrit, il va falloir te connecter.
        </p>
        <p>
          <button color="primary" mat-raised-button routerLink="/login">Se connecter</button>
        </p>
      </div>
      <img alt="Renne" src="https://media.giphy.com/media/pkKdPkHz94xAdEroWh/giphy.gif"/>
    </mat-card-content>
  </mat-card>
</app-guest>

<app-authenticated>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <h1>Bienvenue {{(user$ | async)?.reindeer | titlecase}}</h1>
      <ng-template #waitingAllReindeers>
        <p>
          Si t'es arrivé jusqu'ici c'est que t'es une reine de l'internet ! (reine/renne, t'as compris ?)
        </p>
        <img alt="lol reindeer" src="https://media.giphy.com/media/ZQgzandYzoU5W/giphy.gif">
        <p>
          Si tu as trouvé ma blague amusante je t'en remercie, je me suis donné à fond !
        </p>
        <p>
          Mais si tu es là pour découvrir l'identité du rène à qui il te faudra offrir un cadeau, va falloir revenir une
          autre fois !
          </p><p>
          On attend que tout le monde soit prêt !
        </p>
        <img alt="christmas is coming" src="https://media.giphy.com/media/mATqoqwcLzqNKkLcOR/giphy.gif">
      </ng-template>
      <ng-container *ngIf="isReady$ | async else waitingAllReindeers">
        <p>
          Bonne nouvelle les rennes sont toutes là !
        </p>
        <img alt="Renne" src="https://media.giphy.com/media/3mJq8i2W3qbe9AkxgL/giphy.gif"/>
        <p>
          J'imagine que tu es là pour découvrir ton raqouc ?
        </p>
        <p>
          Un raqouc c'est un "Renne à qui offrir un cadeau" !
        </p>
        <p>
          Chacun des rennes s'est vu attribué un autre renne à qui offrir un cadeau.
        </p>
        <p>
          Tu vas donc devoir trouver le renne qui t'a été attribué et lui offrir un cadeau.
        </p>
        <p>
          C'est un peu le principe du secret santa donc tu aurais du le savoir non ?
        </p>
        <p>

          <button color="primary" mat-raised-button routerLink="/resolve">Découvrir mon raqouc !</button>
        </p>
      </ng-container>
    </mat-card-content>
  </mat-card>
</app-authenticated>
