<app-guest>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div class="text">
        <h1>Salut toi !</h1>
        <p>Si tu es nouveau ici, il va falloir te créer un compte.</p>
        <p>
          <button color="accent" mat-raised-button routerLink="/register">S'inscrire</button>
        </p>
        <p>Mais pour ça, il va falloir que tu te souviennes du nom de rene que tu as reçu sur la conversation
          messenger :)</p>
        <p>Si tu es déjà inscrit, il va falloir te connecter.
        </p>
        <p>
          <button color="primary" mat-raised-button routerLink="/login">Se connecter</button>
        </p>
      </div>
      <img alt="Rene" src="https://media.giphy.com/media/pkKdPkHz94xAdEroWh/giphy.gif"/>
    </mat-card-content>
  </mat-card>
</app-guest>

<app-authenticated>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <h1>Bienvenue {{(user$ | async)?.reindeer | titlecase}}</h1>
      <p>
        Bonne nouvelle les rennes sont toutes là !
      </p>
      <img alt="Rene" src="https://media.giphy.com/media/3mJq8i2W3qbe9AkxgL/giphy.gif"/>
      <p>
        J'imagine que tu es là pour découvrir ton raqouc ?
        Un raqouc c'est un "Renne à qui offrir un cadeau" !
        Chacun des rennes s'est vu attribué un autre renne à qui offrir un cadeau.
        Tu vas donc devoir trouver le renne qui t'a été attribué et lui offrir un cadeau.
        C'est un peu le principe du secret santa donc tu aurais du le savoir non ?
      </p>
      <p>
        <button color="primary" mat-raised-button routerLink="/resolve">Découvrir mon raqouc !</button>
      </p>
    </mat-card-content>
  </mat-card>
</app-authenticated>
